.form-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: #bccfe2;
  border-radius: 8px;
  margin-top: 80px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


/* Esta es la parte para editar el texto */

.large-text {
  margin-top: -10px;
  text-align: center; /* Opcional, para centrar el texto */
  font-size: 1.1em;
  /*margin-bottom: 50px;  ESTO ES PARA DAR ESPACIO*/
  font-weight: bold;

}

.button-group button {
  margin-top: 20px;
  margin: 0 5px; /* Espacio entre los botones */
  margin-bottom: 5px;
}


/* Estilos específicos para cada boton */
.btn-nuevo {
  background-color: #28a745; /* Color verde */
}

.btn-eliminar {
  background-color: #dc3545; /* Color rojo */
}

.btn-editar {
  background-color: #ffc107; /* Color amarillo */
}

.btn-consultar {
  background-color: #17a2b8; /* Color azul */
}
